# Xcode
# -----
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcodeproj/
*.xcworkspace/

# macOS
# -----
.DS_Store

# Node / Backend
# --------------
node_modules/
.env
*.log
